{% extends "base.html"  %}




{% block content %}

<div class="container mt-5">
  <div class="row">
      <div class="col-md-4 mb-4">
          <div class="card bg-dark text-white">
              <img src="https://th.bing.com/th/id/OIP.U_Dl0bIMSAU3fjsClx7jhgHaE6?w=293&h=194&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img" alt="...">
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="mt-auto">
                    <h5 class="card-text">TV Samsung</h5>
                </div>
            </div>
          </div>
      </div>
      
      <div class="col-md-4 mb-4">
          <div class="card bg-dark text-white">
              <img src="https://get.pxhere.com/photo/hand-man-light-photography-photographer-green-blue-holding-close-up-reflex-camera-digital-camera-eye-photograph-len-macro-photography-atmosphere-of-earth-computer-wallpaper-single-lens-reflex-camera-32792.jpg" class="card-img" alt="...">
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <div class="mt-auto">
                    <h5 class="card-text">TV Samsung</h5>
                </div>
            </div>
          </div>
      </div>
      
      <div class="col-md-4 mb-4">
        <div class="card bg-dark text-white">
          <img src="https://www.freecodecamp.org/news/content/images/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg" class="card-img" alt="...">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
              <div class="mt-auto">
                  <h5 class="card-text">TV Samsung</h5>
              </div>
          </div>
      </div>
      </div>
  </div>
</div>


{% endblock  %}

