{% extends "base.html"  %}




{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="card text-white bg-dark mb-3 card mt-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h2 class="card-title">13,050,000</h2>
                        <h5 class="card-text">Bank pasargad</h5>
                        <p></P>
                        <p></P>
                    </div>
                </div>
            </div>
    
            <div class="col mt-3">
                <table class="table">
                    <tbody>
                        <table class="table">
                      
                                <tbody>
                                  <tr>
                                    <th scope="row"></th>
                                    <td>14,000</td>
                                    <td>1402/12/9</td>
                                    <td>Server Germany</td> 
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td>14,000</td>
                                    <td>1402/12/9</td>
                                    <td>USB 16GB</td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td>14,000</td>
                                    <td>1402/12/9</td>
                                    <td>USB 16GB</td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td>14,000</td>
                                    <td>1402/12/9</td>
                                    <td>USB 16GB</td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td>14,000</td>
                                    <td>1402/12/9</td>
                                    <td>USB 16GB</td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td>14,000</td>
                                    <td>1402/12/9</td>
                                    <td>USB 16GB</td>
                                  </tr>
                                </tbody>
                              </table>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

{% endblock  %}