{% extends "base.html"  %}




{% block content %}
<div class="mt-3 mx-5"> 
        
  <table class="table">

    <tbody>
      <tr>
        <th scope="row"></th>
        <td>14,000</td>
        <td style="padding: 10px; text-align: center;">
          <div style="width: 50px; height: 20px; background-color: red;"></div>
        </td>
        <td>1402/12/9</td>
        <td>Server Germany</td> 
      </tr>
      <tr>
        <th scope="row"></th>
        <td>14,000</td>
        <td style="padding: 10px; text-align: center;">
          <div style="width: 50px; height: 20px; background-color: orange;"></div>
        </td>
        <td>1402/12/9</td>
        <td>USB 16GB</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>14,000</td>
        <td style="padding: 10px; text-align: center;">
          <div style="width: 50px; height: 20px; background-color: green;"></div>
        </td>
        <td>1402/12/9</td>
        <td>USB 16GB</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>14,000</td>
        <td style="padding: 10px; text-align: center;">
          <div style="width: 50px; height: 20px; background-color: green;"></div>
        </td>
        <td>1402/12/9</td>
        <td>USB 16GB</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>14,000</td>
        <td style="padding: 10px; text-align: center;">
          <div style="width: 50px; height: 20px; background-color: green;"></div>
        </td>
        <td>1402/12/9</td>
        <td>USB 16GB</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>14,000</td>
        <td style="padding: 10px; text-align: center;">
          <div style="width: 50px; height: 20px; background-color: green;"></div>
        </td>
        <td>1402/12/9</td>
        <td>USB 16GB</td>
      </tr>
    </tbody>
  </table>
  
        
    </div>


    

{% endblock  %}