{% extends "base.html"  %}




{% block content %}



<div class="container mt-5">
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card text-white bg-dark" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center"></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <h4 class="card-text center text-center">Amir nematllhai</h4>
                        <h5 class="card-text center text-center">Django</h5>
                        <a href="#" class="card-link"></a>
                        <a href="#" class="card-link"></a>                    
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-dark" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center"></h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <h4 class="card-text center text-center">Amir nematllhai</h4>
                        <h5 class="card-text center text-center">Django</h5>
                        <a href="#" class="card-link"></a>
                        <a href="#" class="card-link"></a>                    
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock  %}

